# Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: founderhq-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: founderhq-frontend
  template:
    metadata:
      labels:
        app: founderhq-frontend
        spec:
          initContainers:
            - name: wait-for-backend
              image: busybox:latest
              command:
                [
                  "sh",
                  "-c",
                  "until nc -z backend-container 8000; do echo waiting for backend; sleep 2; done;",
                ]
      containers:
        - name: frontend-container
          image: gourav1310/founderhq_frontend:ca07219dcea679205e93a6fa6bbabb0cea5c047c
          ports:
            - containerPort: 3000

---
# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: founderhq-ns
spec:
  type: ClusterIP
  selector:
    app: founderhq-frontend
  ports:
    - port: 3000
      targetPort: 3000
