# Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: founderhq-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: founderhq-frontend
  template:
    metadata:
      labels:
        app: founderhq-frontend
    spec:
      containers:
        - name: frontend-container
          image: gourav1310/founderhq_frontend:18e24b0a26dab0b92ac657b231eedd80d4d4ca98
          ports:
            - containerPort: 3000

---
# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: founderhq-ns
spec:
  type: ClusterIP
  selector:
    app: founderhq-frontend
  ports:
    - port: 3000
      targetPort: 3000
